{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <h3>
        {{ post.title }}
        <span class="label label-default">{{ post.category.title }}</span>
    </h3>

{% endblock %}