<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% include 'widget/style.html.twig' %}
</head>
<body>
{% include 'widget/navbar.html.twig' %}
<div class="container">
    {% block body %}{% endblock %}
    {% include 'widget/footer.html.twig' %}
</div>
{% include 'widget/script.html.twig' %}
</body>
</html>