
# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# PHP Storm IDE
/.idea

/node_modules
/package-lock.json
/dist

# vendor dir
#/*/vendor

# Mac DS_Store Files
.DS_Store
