
<div id="app-footer" class="footer">
    <hr>
    <p class="pull-right">
        <a href="http://rails.js/min.html">link 1</a><span class="text-muted"> | </span>
        <a href="http://rails.js/dist.html">link 2</a>
    </p>
    <p>© JS Rails 2019</p>
</div>
