
<div id="app-footer" class="footer">
    <hr>
    <p class="pull-right">
        <a href="#">link 1</a><span class="text-muted"> | </span>
        <a href="#">link 2</a>
    </p>
    <p>© Symfony Rails 2019</p>
</div>
