
<div id="app-navbar" role="navigation" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Link 1</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if app.user %}
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ app.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Auth <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Registration</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>
